.containerFull {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px;
  background-color: black;
}
.contact-box-1 {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  box-shadow: 0px 0px 20px 0.7rem rgb(220 53 69) !important;
  border-radius: 12px;
  margin: 3vw;
  border: 1px solid #da1f3f;
  color: white;
}

.leftContainer {
  margin: 10px 10px;
  height: 500px;
}

.rightContainer {
  padding: 25px 40px;
}

.contactHeading {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

.contactHeading:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #da1f3f;
}

.inputField {
  width: 100%;
  border: 1px solid #da1f3f;
  outline: none;
  background-color: rgb(0 0 0);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}

.inputField:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.inputField:focus {
  border: 1px solid #da1f3f;
}

textarea {
  min-height: 150px;
}

.sendBtn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  transition: 0.3s;
  border-radius: 12px;
  color: white;
  background-color: black;
  border: 1px solid #da1f3f;
}

.sendBtn:hover {
  color: white;
  background-color: #dc3545;
  box-shadow: 0px 0px 20px 0.1rem rgb(220 53 69);
}

@media screen and (max-width: 800px) {
  .contact-box-1 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 575px) {
  .leftContainer {
    width: 80vw;
  }
}

.mapouter {
  position: relative;
  text-align: center;
  width: 100%;
  height: 500px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 600px;
}
.gmap_iframe {
  height: 500px;
}
